@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');
@import '@splidejs/splide/css/sea-green';

@tailwind base;
@tailwind components;
@tailwind utilities;


.f_ysa {
  @apply font-['Ysabeau_SC']
}


.f_rale {
  @apply font-['Raleway']
}

.f_rouge {
  @apply font-['Rouge_Script']
}

:root {
  --background: #ffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.flex-c-c {
  @apply flex flex-col items-center justify-center
}


/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* text related */

/* outline-none focus:outline-2 focus:outline-offset-3 */



.accent1-t {
 @apply text-[#A58964]
}

.accent1-t-inv {
  @apply text-[#627da2]
 }
 

.accent1-bg {
  @apply bg-[#A58964]
}

.accent1-br {
  @apply border border-[#A58964] accent1-t
}

.accent1-dark-bg {
  @apply bg-[#9b795d]
}

.accent1-dark-bg-grad {
  background: rgb(194,175,150);
background: linear-gradient(170deg, rgba(194,175,150,1) 0%, rgba(155,121,93,1) 100%);
}

.accent1-light-bg {
  @apply bg-[#fff8ef]
}

.accent2-t {
  @apply text-[#191e3e]
 }

 .accent2-bg {
  @apply bg-[#191e3e]
}

.accent2-br {
  @apply border-2 border-[#191e3e] accent2-t
}

.text_shadow_white {
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);

}
.text_shadow_2 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

.text_shadow_1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

.box_shadow_dark {
  -webkit-box-shadow: -3px -1px 15px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: -3px -1px 15px 2px rgba(0,0,0,0.1);
  box-shadow: -3px -1px 15px 2px rgba(0,0,0,0.1);
}

.box_shadow_dark_main {
  -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.05);
}

.box_shadow_light {
  -webkit-box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px -1px 18px 4px rgba(0, 0, 0, 0.05);
}



.heading1 {
@apply font-ogg1 text-[min(12vw,100px)]
}

.heading2 {
@apply font-ogg2 text-[min(calc(0.75rem+2.5vw),44px)] 
}

.paragraph1 {
@apply f_rale text-[min(calc(0.5rem+1vw),20px)]
}

.paragraph2 {
  @apply f_rale text-[min(calc(0.5rem+0.75vw),18px)]
}

.paragraph3 {
  @apply f_rale text-[min(calc(0.5rem+1.2vw),30px)]
}

.signature {
  @apply f_rouge text-[min(calc(0.75rem+6vw),75px)]    accent1-t
}

.heading1_signature {
  @apply f_rouge text-[min(4.5rem+6vw,150px)] accent1-t leading-[0px]
}

.heading1_signature2 {
  @apply f_rouge text-[min(4.5rem+6vw,150px)] accent1-t-inv leading-[0px]
}

.text_blend {
  color: black;
  background-color: white;
  mix-blend-mode: difference;
  filter: invert(1);
}


.tb {
  @apply border border-black
}

.trans1 {
  @apply duration-150 ease-linear transition-all
}

/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* backgorunds */
.splide__slide.is-active .inner {
  transform: scale( 1.2 );
}

.glass_bg {
  background: #a58964af;
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(255, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #a589648a;
}

#hero_bg {
  background-color: rgba(165, 157, 143, 0.89);
  /* background-blend-mode:screen; */
}
/* c4bbad */
.tilt-parallax-effect {
  transform-style: preserve-3d;
  

}

.tilt-inner-element {
  transform: translateZ(60px);
}

.tilt-inner-element2 {
  transform: translateZ(120px);
}




/* ///////////////////////////////////////////////////////////////////////// */
/* stacked cards - occassions */
:root {
	--cards: 8;
	--cardHeight: 92vh;
	--cardTopPadding: 80px;
	--cardMargin: 4vw;
}

.StackContainer {
	width: 100%;
	margin: 0 auto;

}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	/* padding-bottom: calc(var(--cards) * var(--cardTopPadding)); */
	/* margin-bottom: var(--cardMargin); */
}

#card1 {
	--index: 1;
  --mx: 50px
}
#card2 {
	--index: 1.1;
  --mx: 38px
}
#card3 {
	--index: 1.2;
  --mx: 28px
}
#card4 {
	--index: 1.3;
  --mx: 18px
}
#card5 {
	--index: 1.4;
  --mx: 8px
}
#card6 {
	--index: 1.5;
  --mx: 0px
}
#card7 {
	--index: 1.6;
  --mx: 0px
}
#card8 {
	--index: 1.7;
  --mx: 0px
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
  margin: 0 ;
  
}

.card img {
  object-fit: cover;
}

#card1 .card-body {
	background-color: #52B2CF;
}
#card2 .card-body {
	/* background-color: #7EC4CF; */
	background-color: #E5A36F;
}
#card3 .card-body {
	background-color: #9CADCE;
}
#card4 .card-body {
	background-color: #D4AFB9;
}
#card5 .card-body {
	background-color: #52B2CF;
}
#card6 .card-body {
	/* background-color: #7EC4CF; */
	background-color: #E5A36F;
}

.card-body {
	box-sizing: border-box;
	padding: 30px;
	border-radius: 20px;
	/* box-shadow: 0 0 30px 0 rgba(0,0,0,0.3); */
	height: var(--cardHeight);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}

.StackCardsContent {

}


/* 
* {
  @apply tb
} */


/* .is-active img {
  filter: brightness(0);
}

.is-next img {
  filter: brightness(1);
} */


/* ///////////////////////////////////////////////////////////////////////// */
/* carousel - our services */
.splideCard .splideContent {
  opacity: 0;
  /* transform: translateY(20px); */
  /* position: absolute; */
  height: 0px;
}

.splideCard:hover  .splideContent{
  /* display: block; */
  opacity: 1;
  /* position: relative; */
  height: 150px;
  /* transform: translateY(0px); */
}

/* .splideCard .splideTitle {
  transform: translateY(20px);
}

.splideCard:hover  .splideTitle{
  transform: translateY(0px);
} */


.splideCard {
  filter: brightness(1);

}

.splideCard:hover{
  filter: brightness(1.15);
  /* transform: translateY(-100px); */
  
}


.splide {
  padding: 0;
}

button.splide__arrow {
  background-color: white;
  opacity: 1;
}

button.splide__arrow svg {
  fill: 191e3e;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* sliding cards */

.gallery {
  --d: 10s; /* duration */
  display: grid;
  width: 250px;
}

.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: 
    slide var(--d) infinite,
    z-order var(--d) infinite steps(1);
    border-radius: 15px;
}

.gallery img:last-child {
  animation-name: slide, z-order-last;
}

/* Manually expanded rules for $n = 5 */
.gallery > img:nth-child(1) {
  animation-delay: calc((1 - 1) / 5 * var(--d));
  --r: -20deg;
}

.gallery > img:nth-child(2) {
  animation-delay: calc((1 - 2) / 5 * var(--d));
  --r: 10deg;
}

.gallery > img:nth-child(3) {
  animation-delay: calc((1 - 3) / 5 * var(--d));
  --r: -5deg;
}

.gallery > img:nth-child(4) {
  animation-delay: calc((1 - 4) / 5 * var(--d));
  --r: 15deg;
}

.gallery > img:nth-child(5) {
  animation-delay: calc((1 - 5) / 5 * var(--d));
  --r: -10deg;
}

@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }
  0%,
  100%,
  20% {
    transform: translateX(0%) rotate(var(--r));
  }
}

@keyframes z-order {
  10%,
  20% {
    z-index: 1;
  }
  80% {
    z-index: 2;
  }
}

@keyframes z-order-last {
  10%,
  20% {
    z-index: 1;
  }
  70% {
    z-index: 2;
  }
}



.swipe_rotate {
  animation-duration: 7s;
  animation-name: rotateBack;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes rotateBack {
  0% {
    transform: rotate(0deg);
  }

  15%{
    transform: rotate(30deg);
  }
  30% { 
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);

  }
}


/* ///////////////////////////////////////////////////////////////////////// */
/* Form */
.FormInput, .FormInput2 {
  @apply
  focus:outline-[#A58964]
  caret-[#387ca4]
  placeholder-[#6464645b]
  text-[#000000]

  bg-[#f8f8f8]
  focus:bg-[#e7e7e7]
  px-2
  h-[2.25rem]
  border
  rounded-[3px]
  focus:border-[#A58964]
  border-[#d1bca0]
  w-full
}
/* border-black border */
.form_section {
@apply flex flex-col gap-[2rem]
 rounded-[10px] p-[1rem] bg-[#ffffff] box_shadow_light w-full max-w-[550px] mx-auto
}

.form_area legend {
  @apply mb-[0.5rem]
}
.form_area {
  @apply flex flex-col gap-2 vp3:px-[0.5rem]
}

.form_area_x3 {
  @apply flex vp3:flex-row gap-2 vp3:gap-1
}
.form_radio_row {
  @apply flex flex-row gap-2 flex-wrap mt-[0rem] mb-[1rem]
}

.FormInput2 {
  @apply vp3:w-[30ppx]
}

.form_row {
  @apply flex flex-col gap-2 vp3:flex-row
}
.FormLabel {
@apply f_rale text-[min(calc(0.75rem+1.5vw),20px)] font-normal 
}

.form_section h2 {
  @apply f_rale text-[min(calc(0.75rem+2vw),35px)] text-center
  font-semibold accent1-bg text-white px-[1rem] py-[0.5rem] rounded-[5px]
}

.form_section:focus-within h2 {
  @apply bg-[#191e3e] trans1
}

#join_form button[type=submit] {
  @apply accent1-bg px-2 py-2 w-[300px] rounded-full mx-auto text-white
  focus:outline-[#A58964] hover:outline-[#A58964] outline-offset-2
  focus:bg-[#9b795d] hover:bg-[#9b795d]
}

#join_form textarea {
  @apply h-[100px]
}

input[type=checkbox], input[type=radio] {
  accent-color: #A58964;
}

/* .form_section:focus-within input[type=checkbox],  .form_section:focus-within input[type=radio] {
  accent-color: #191e3e;
} */


.FormLabel2 {
  @apply pl-0
}

/* //////////////////////////////////////////////////////////////////////////// */
/* // Loading spinner Form */
.MrazloaderContainer {
  /* width: 7rem; */
  /* height: 7rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #5849c91f; */
  /* border: 2px solid #382e82be; */
  /* border-radius: 12px; */
  /* backdrop-filter: blur(2px); */
  /* -webkit-backdrop-filter: blur(2px); */
}

.Mrazloader-2 {
  height: 1.5rem;
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.3rem solid;
  border-color: #ffffff #f7f7f760;
  animation: l1 1s infinite;
}

/* rotate 0.5turn */
@keyframes l1 {to{transform: rotate(.5turn)}}
